body,
html {
  margin: 0;
  padding: 0;
}

body {　
	overflow-y: hidden;
	overflow-x: hidden;
	font-family: '微軟正黑體';
}

table.dialogTable { 
	width: 100%; 
	border-collapse: collapse; 
}

#lottery{
	background-image:url(images/lottery.png); 
	background-repeat:no-repeat;
	background-position:center;
}

#pdf{
	background-image:url(images/pdf.png); 
	background-repeat:no-repeat;
	background-position:center;
}
.mm-title{
	background-image:url(images/unitedEveningNews.png); 
	background-repeat:no-repeat;
	background-position:center;
}
#loading {
	display:none;
	background-color: #999;
	background: #999 url(images/unitedEveningNews.png)  no-repeat ;
	background-position: center;
	opacity: 0.5;
	filter: alpha(opacity=50);
	z-index:2;
	position:fixed;
	top:0;
	left:0;
	opacity:0.7;
	width:100%;
	height:100%;
	background-size:50%;
}

@media screen and (min-width: 1200px) { /* w >= 1200px */
	.pq-grid{
		font-size:1.8rem;
	}
	.pq-grid-col > div{
		font-size:1.8rem;
	}
	.pq-toolbar-search.pq-toolbar{
		font-size:2.2rem;
	}
	#menu {
		font-size:2.2rem;		
	}
	.mm-listview > li > a {
		font-size:2rem;
	}
	.dialogTable ,.ui-dialog-titlebar{
		font-size:1.8rem;
	}
	.myMenu{
		width:60px; 
		height:50px; 
	}
	.mm-title{
		background-size:200px;
		margin: 10px;
	}
	#lottery{
		background-size:180px;
	}
	#pdf{
		background-size:130px;
	}
}
@media screen and (min-width: 980px) and (max-width: 1199px) { /* 介於 980px ~ 1199px */
	.pq-grid{
		font-size:1.6rem;
	}
	.pq-grid-col > div{
		font-size:1.6rem;
	}
	.pq-toolbar-search.pq-toolbar{
		font-size:2rem;
	}
	#menu {
		font-size:2rem;		
	}
	.mm-listview > li > a {
		font-size:1.8rem;
	}
	.dialogTable ,.ui-dialog-titlebar{
		font-size:1.6rem;
	}
	.myMenu{
		width:50px; 
		height:45px; 
	}
	.mm-title{
		background-size:200px;
		margin: 10px;
	}
	#lottery{
		background-size:160px;
	}
	#pdf{
		background-size:110px;
	}
}
@media screen and (min-width: 768px) and (max-width: 979px) { /* 介於 768px ~ 979px */
	.pq-grid{
		font-size:1.4rem;
	}
	.pq-grid-col > div{
		font-size:1.4rem;
	}
	.pq-toolbar-search.pq-toolbar{
		font-size:1.8rem;
	}
	#menu {
		font-size:1.8rem;		
	}
	.mm-listview > li > a {
		font-size:1.6rem;
	}
	.dialogTable ,.ui-dialog-titlebar{
		font-size:1.4rem;
	}
	.mm-title{
		background-size:180px;
		margin: 10px;
	}
	.myMenu{
		width:45px; 
		height:40px; 
	}
	#lottery{
		background-size:160px;
	}
	#pdf{
		background-size:110px;
	}
}
@media screen and (min-width: 481px) and (max-width: 767px) { /* 介於 481px ~ 767px */
	.pq-grid{
		font-size:1.2rem;
	}
	.pq-grid-col > div{
		font-size:1.2rem;
	}
	.pq-toolbar-search.pq-toolbar{ 
		font-size:1.6rem;
	}
	#menu {
		font-size:1.6rem;		
	}
	.mm-listview > li > a {
		font-size:1.4rem;
	}
	.dialogTable ,.ui-dialog-titlebar{
		font-size:1.2rem;
	}
	.myMenu{
		width:40px; 
		height:35px; 
	}
	.mm-title{
		background-size:180px;
		margin: 10px;
	}
	#lottery{
		background-size:130px;
	}
	#pdf{
		background-size:80px;
	}
}
@media screen and (min-width: 361px) and (max-width: 480px) { /* 介於 361px ~ 480px */
	.pq-grid{
		font-size:1rem;
	}
	.pq-grid-col > div{
		font-size:1rem;
	}
	.pq-toolbar-search.pq-toolbar{
		font-size:1.4rem;
	}
	#menu {
		font-size:1.4rem;		
	}
	.mm-listview > li > a {
		font-size:1.2rem;
	}
	.dialogTable ,.ui-dialog-titlebar{
		font-size:1rem;
	}
	.myMenu{
		width:35px; 
		height:30px; 
	}
	.mm-title{
		background-size:130px;
		margin: 10px;
	}
	#lottery{
		background-size:130px;
	}
	#pdf{
		background-size:80px;
	}
}
@media screen and (max-width: 360px) { /* w <= 360px */
	.pq-grid{
		font-size:0.8rem;
	}
	.pq-grid-col > div{
		font-size:0.8rem;
	}
	.pq-toolbar-search.pq-toolbar{
		font-size:1.2rem;
	}
	#menu {
		font-size:1.2rem;		
	}
	.mm-listview > li > a {
		font-size:0.8rem;
	}
	.dialogTable ,.ui-dialog-titlebar{
		font-size:0.8rem;
	}
	.myMenu{
		width:30px; 
		height:25px; 
	}
	.mm-title{
		background-size:80px;
		margin: 10px 0 0;
	}
	#lottery{
		background-size:80px;
	}
	#pdf{
		background-size:60px;
	}
}

td.redFont{
	color:#E03229;
}
td.greenFont{
	color:#13B28A;
}
td.redBg{
	background-color:#E03229; 
	color:#FFFF00;
}
td.greenBg{
	background-color:#13B28A; 
	color:#FFFF00;
}
#menu:not(.mm-menu) {
	display: none;
}

.myMenu{ 
	z-index:1000;
}

.table_right{
	text-align: right;
}
.table_left{
	text-align: left;
}
.table_center{
	text-align: center;
}
.ui-widget-overlay {
   background: #000000 url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
   opacity: .90;
   filter: Alpha(Opacity=30);
}