/**
 * ParamQuery Pro v3.3.0
 * 
 * Copyright (c) 2012-2016 Paramvir Dhindsa (http://paramquery.com)
 * Released under Commercial license
 * http://paramquery.com/pro/license
 * 
 */
div.pq-grid *{            line-height:normal;	        font-family: inherit;    font-size: inherit;}.pq-grid .ui-icon{    display:inline-block;                }.ui-icon.pq-col-sort-icon{    vertical-align: bottom;}.pq-slider-icon{	    top:4px;}.pq-grid-top.ui-widget-header{    font-weight:normal;}.pq-grid-header-search-row{    font-weight:normal;}.pq-ui-button.ui-widget-header{    background: transparent;    border-width:0;    border-radius: 4px;    margin:1px;    padding:0 3px;    cursor:pointer;    font-size:16px;}.pq-ui-button > .ui-icon{}.pq-ui-button:hover,.pq-ui-button:focus{        border-width:1px;    margin:0;    outline:none;}.pq-grid-table{}.pq-grid-cell, .pq-grid-number-cell{    padding: 5px; }.pq-grid-cell{    border:1px solid transparent;}.pq-grid-header-table > tbody > tr> .pq-grid-col:first-child,.pq-grid-table > tbody > tr> .pq-grid-col:first-child{        border-left:0;    }.pq-grid-header-table.pq-no-right-border > tbody > tr> td:last-child,.pq-grid-table.pq-no-right-border > tbody > tr> td:last-child{        border-right:0; }.pq-grid-col{    padding: 5px;        border-color: #cfcfcf;}.pq-loading-bg{    background:#ccc;}.pq-grid-bottom select{    color: initial;}.pq-pager-input{    color: initial;    padding:0 1px;    text-align:center;    width:35px;    margin-right:5px;    border-width:1px;	}.pq-ui-button.disabled{        opacity: 0.3;}