#header{
	margin-bottom: 0%;
}
.resize{
	width:100%;
}
.resize40{
	width:40%;
}
body{
	background-color:#fff0e0;
	min-height:100%;
	min-width:100%
	position:relative;
}
#content{
	padding:4%;
}
#line1{
	text-align:center;
	margin-bottom: 10%;
}
#line2{
	text-align:center;
}
button{
	color:#025d3c;
	font-size:300%;
	padding:4%;
	font-family: DFKai-sb;
}
#date{
	text-align:center;
	margin-bottom: 10%;
	width:100%;
	font-size:20px;
	font-family: Microsoft JhengHei;
	color:#ffffff;
	background-color:#333333;
}