	font-family: {Arial}
	th {font-size:1.45rem;text-align: center;font-weight:bold;vertical-align: middle;}
	td {font-size:1.45rem;text-align: right;vertical-align: middle;}
	/*
	@media (min-width: 1200px) {
		th {font-size: 20px}
		td {font-size: 20px}
	}	
	@media (min-width: 768px) and (max-width: 1000px) and (max-height: 999px) {
		th {font-size: 30px}
		td {font-size: 30px}
	}	
	@media (min-width: 768px) and (max-width: 1000px) and (min-height: 1000px) {
		th {font-size: 30px}
		td {font-size: 30px}
	}
	*/
	
	#mask {
		*display:none;
		background-color: #999;
		background: #999 url('../images/loading.png')  no-repeat ;
		background-position:  center;
		opacity: 0.5;
		filter: alpha(opacity=50);
		z-index:2;
		position:fixed;
		top:0;
		left:0;
		opacity:0.7;
		width:100%;
		height:100%;
		}
	#loading {
		display:none;
		background-color: #999;
		background: #999 url('../images/loading.png')  no-repeat ;
		background-position:  center;
		opacity: 0.5;
		filter: alpha(opacity=50);
		z-index:2;
		position:fixed;
		top:0;
		left:0;
		opacity:0.7;
		width:100%;
		height:100%;
		}
		
	/****************************table*********************************/
	table{
		border-collapse:collapse;
		color:#0c1021;
		background-color:#fff0e0;
	}
	table.dataTable tbody tr.odd{
		background-color:#fefefe;
	}
	table.dataTable tbody tr.even{
		background-color:#fff0e0;
	}
	table.dataTable tbody tr:hover{
		background-color:#1d83ff;
	}
	th{
		color:#f4fae2;
		border-width:5px;
		border-bottom-color:#e0e0e0;
		border-right-color:#e0e0e0;
		background-color:#22528b;
	}
	td{
		border-width:5px;
		border-bottom-color:#e0e0e0;
		border-right-color:#e0e0e0;
	}
	/*td:hover{
		background-color:#0d63ff;
	}*/
	td.redFont{
		color:#ff0000;
	}
	td.greenFont{
		color:#009966;
	}
	td.redBg{
		background-color:#ff0000; 
		color:#000000;
	}
	td.greenBg{
		background-color:#009966; 
		color:#000000;
	}
	.separateCenter{
		text-align:justify;text-justify:distribute-all-lines;text-align-last:justify;
	}
	/****************************table*********************************/
	
	#stockTable td:nth-child(1) ,#otcTable td:nth-child(1){text-align:left;color:#f4fae2;background-color:#22528b;}
	#stockTable td:nth-child(2) ,#otcTable td:nth-child(2){text-align:justify;text-justify:distribute-all-lines;text-align-last:justify;color:#f4fae2;background-color:#22528b;}
	#stockTable td:nth-child(22) ,#otcTable td:nth-child(12){display:none;}