body,
html {
  margin: 0;
  padding: 0;
}

body {　
	overflow-y: hidden;
	overflow-x: hidden;
	font-family: '微軟正黑體';
}

table.dialogTable { 
	width: 100%; 
	border-collapse: collapse; 
}
.dialogTable tr:nth-of-type(odd) { 
	background: #E5EFF7; 
}
.dialogTable th { 
	background: #F4F4F4; 
}
.dialogTable td, .dialogTable th { 
	padding: 6px; 
	border: 1px solid #ccc;  
	color: #36404C; 
	font-weight: bold; 
}
#unitedEveningNews{
	width:200px;
	display:block; margin:auto;vertical-align:middle;
}
	
@media screen and (min-width: 1200px) { /* w >= 1200px */
	.pq-grid{
		font-size:1.8rem;
	}
	.pq-grid-col > div{
		font-size:1.8rem;
	}
	.pq-toolbar-search.pq-toolbar{
		font-size:2.2rem;
	}
	#menu {
		font-size:2.2rem;		
	}
	.mm-listview > li > a {
		font-size:2.2rem;
	}
	#unitedEveningNews{
		width:400px;
	}
	.dialogTable ,.ui-dialog-titlebar{
		font-size:1.8rem;
	}
	.myMenu{
		width:60px; 
		height:50px; 
	}
}
@media screen and (min-width: 980px) and (max-width: 1199px) { /* 介於 980px ~ 1199px */
	.pq-grid{
		font-size:1.6rem;
	}
	.pq-grid-col > div{
		font-size:1.6rem;
	}
	.pq-toolbar-search.pq-toolbar{
		font-size:2rem;
	}
	#menu {
		font-size:2rem;		
	}
	.mm-listview > li > a {
		font-size:2rem;
	}
	#unitedEveningNews{
		width:350px;
	}
	.dialogTable ,.ui-dialog-titlebar{
		font-size:1.6rem;
	}
	.myMenu{
		width:50px; 
		height:45px; 
	}
}
@media screen and (min-width: 768px) and (max-width: 979px) { /* 介於 768px ~ 979px */
	.pq-grid{
		font-size:1.4rem;
	}
	.pq-grid-col > div{
		font-size:1.4rem;
	}
	.pq-toolbar-search.pq-toolbar{
		font-size:1.8rem;
	}
	#menu {
		font-size:1.8rem;		
	}
	.mm-listview > li > a {
		font-size:1.8rem;
	}
	#unitedEveningNews{
		width:300px;
	}
	.dialogTable ,.ui-dialog-titlebar{
		font-size:1.4rem;
	}
	.myMenu{
		width:45px; 
		height:40px; 
	}
}
@media screen and (min-width: 481px) and(max-width: 767px) { /* 介於 481px ~ 767px */
	.pq-grid{
		font-size:1.2rem;
	}
	.pq-grid-col > div{
		font-size:1.2rem;
	}
	.pq-toolbar-search.pq-toolbar{ 
		font-size:1.6rem;
	}
	#menu {
		font-size:1.6rem;		
	}
	.mm-listview > li > a {
		font-size:1.6rem;
	}
	#unitedEveningNews{
		width:250px;
	}
	.dialogTable ,.ui-dialog-titlebar{
		font-size:1.2rem;
	}
	.myMenu{
		width:40px; 
		height:35px; 
	}
}
@media screen and (min-width: 361px) and (max-width: 480px) { /* 介於 361px ~ 480px */
	.pq-grid{
		font-size:1rem;
	}
	.pq-grid-col > div{
		font-size:1rem;
	}
	.pq-toolbar-search.pq-toolbar{
		font-size:1.4rem;
	}
	#menu {
		font-size:1.4rem;		
	}
	.mm-listview > li > a {
		font-size:1.4rem;
	}
	#unitedEveningNews{
		width:250px;
	}
	.dialogTable ,.ui-dialog-titlebar{
		font-size:1rem;
	}
	.myMenu{
		width:35px; 
		height:30px; 
	}
}
@media screen and (max-width: 360px) { /* w <= 360px */
	.pq-grid{
		font-size:0.8rem;
	}
	.pq-grid-col > div{
		font-size:0.8rem;
	}
	.pq-toolbar-search.pq-toolbar{
		font-size:1.2rem;
	}
	#menu {
		font-size:1.2rem;		
	}
	.mm-listview > li > a {
		font-size:1.2rem;
	}
	#unitedEveningNews{
		width:200px;
	}
	.dialogTable ,.ui-dialog-titlebar{
		font-size:0.8rem;
	}
	.myMenu{
		width:30px; 
		height:25px; 
	}
}

td.redFont{
	color:#E03229;
}
td.greenFont{
	color:#13B28A;
}
td.redBg{
	background-color:#E03229; 
	color:#FFFF00;
}
td.greenBg{
	background-color:#13B28A; 
	color:#FFFF00;
}
#menu:not(.mm-menu) {
	display: none;
}

.myMenu{ 
	z-index:1000;
}

.table_right{
	text-align: right;
}
.table_left{
	text-align: left;
}
.table_center{
	text-align: center;
}