/**
 * ParamQuery Pro v3.3.0
 * 
 * Copyright (c) 2012-2016 Paramvir Dhindsa (http://paramquery.com)
 * Released under Commercial license
 * http://paramquery.com/pro/license
 * 
 */
.pq-grid label, .pq-grid input, .pq-grid select, .pq-grid textarea,.pq-grid input[type]{
    font-weight: normal;
    margin-bottom: 0;
}
.pq-grid{
    overflow: hidden;
    position:relative;
    z-index: 0;
    box-sizing: border-box;
}
div.pq-grid *{    
    box-sizing: inherit;
}
div.pq-grid select{
    width:auto;
    height: auto;
}
.pq-grid *:focus{
    outline:1px dotted gray;
}
.pq-grid-cell:focus{
    outline:2px solid #666;
}
.pq-grid-cont:focus{
    outline:none;
}
.pq-focus{
    outline: 1px dotted gray;
}
.pq-disable-select{
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    -o-user-select: none;
    user-select: none;         
}
.pq-native-select{
    -webkit-user-select: text;  
    -moz-user-select: text;     
    -ms-user-select: text;      
    -o-user-select: text;
    user-select: text;         
}
.pq-grid > .pq-grid-top{
    border-width: 0 0 1px 0;
    border-style: solid;
    margin-top: -1px;
    position: relative;
}
.pq-slider-icon{	
    position:absolute;
    z-index: 4;
    right:0;
    top:0;
}
.pq-grid-title{
    padding:4.5px 5px;    
}
.pq-group-header{
    border-top:1px solid transparent;
    zoom:1;
    padding:3px 5px;
    position: relative;
}
.pq-group-menu{
    position:relative;
    float:right;
    border-radius:3px;
    white-space:nowrap;
}
.pq-group-header.pq-drop-hover{
    cursor:copy;
}
.pq-group-placeholder{
    padding: 4px;
    color: #777;
}
.pq-group-item{
    display:inline-block;
    float:left;
    white-space: nowrap;
    border:1px solid #bfbfbf;
    padding:4px 5px;
    border-radius: 4px;
    margin-right: 10px;
    position:relative;
    cursor: pointer;
}
.pq-group-item>.ui-icon{
    margin:-3px;
}
.pq-group-item > .pq-group-remove,.pq-group-item > .pq-group-toggle{
    display:inline-block;
    border-radius: 5px;
    margin-left:3px;
    border:1px solid transparent;
    width: 18px;
    height: 17px;
    font-weight: bold;
}
.pq-group-item > .pq-group-toggle{
    margin-left:0;
    margin-right:3px;
}
.pq-group-remove:hover{
    border:1px solid #cfcfcf;
}
.pq-group-title-cell .pq-group-icon{
    cursor: pointer;
    position:relative;
    top:1px;
    margin:-2px 3px -2px 0;
    border:1px solid transparent;
    border-radius: 4px;
    height:18px;
    width:18px;
    font-size:10px;
}
.pq-group-icon:hover{
    border-color: #aaa;
}
.pq-toolbar{
    border-top:1px solid transparent;
    padding:4px 5px;
    zoom:1;
    overflow:hidden;		
    text-align:left;
}
.pq-toolbar > .pq-separator,
.pq-toolbar > span,
.pq-toolbar > div,
.pq-toolbar > p,
.pq-toolbar > label,
.pq-toolbar > input,
.pq-toolbar > textarea,
.pq-toolbar > select,
.pq-toolbar > button
{
    margin-left:5px;
    margin-right:5px;
    vertical-align: middle;
}
.pq-toolbar textarea{
    resize: none;
}
.pq-toolbar > label > textarea{
    vertical-align: middle;
}
.pq-grid .pq-search-txt
{
    overflow:visible;    
    padding:1px 4px;        
}
.pq-grid input[type='text'], .pq-grid textarea, .pq-grid select{
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    padding: 1px 4px;
    border-radius: 4px;
}
.pq-draggable{ 
    cursor:move;
}
.pq-grid > .pq-grid-bottom{
    border-width: 1px 0 0 0;
    top: 1px;
    overflow: hidden;   
    border-style: solid;
    border-color: transparent;
    font-weight:normal !important;
    position:relative;    
}
.pq-pager > span{
    vertical-align: middle;
    position:relative; 
}
.pq-page-placeholder > span,
.pq-page-placeholder > input,
.pq-page-placeholder > select{
    vertical-align: middle;
}
.pq-pager > .pq-page-placeholder{
    vertical-align: baseline;
    margin-right:0;
}
.pq-page-placeholder > span{
    margin:0 4px;
}
.pq-grid-center{
    position:relative;
    width:100%;
    overflow-x:hidden;
    overflow-y:hidden;
    margin-bottom: -1px;
}		
.pq-header-outer{
    position:relative;
    border-top-width:0 !important;
    border-left-width:0 !important;
    text-align: left; 	
}
.pq-grid-header{ 
    position:absolute;
    top:-2px;	
    cursor:default;
    display:inline-block;
    overflow:hidden;
    border-width:0 !important;
}
.pq-grid-header-inner{
    position:relative;
}
.pq-grid-header-left{  
    overflow:hidden;
}
.pq-grid-cont-inner{
    position:absolute;
    left:0;
    top:0;	
    cursor:default;	
    overflow:hidden;
    width: 100%;
}
.pq-grid-norows{ 
    text-align:center;padding:3px;
    position: relative;
}
.pq-col-sort-icon{        
    margin-right: -3px;
    min-width: 3px;
    display:inline-block;    
}
.pq-space.pq-col-sort-icon{    
    width:16px;
}
.pq-space.pq-col-sort-count{
    display:inline-block;    
}
.pq-col-sort-count{    
    font-weight: normal;
    width:6px;
    font-size: 0.8em;
}
.pq-grid-col-resize-handle{	
    cursor:col-resize;
    display:block;
    background:url(about:blank);
    width:10px;
    height: 100%; 
    position:absolute;top:0px;
}
.pq-grid-drag-bar{
    position:absolute;width:1px;z-index:100;top:0px;
    background-color:#000;
}
.pq-align-right{
    text-align:right;
}
.pq-grid .pq-align-right *{
    text-align:right;
}
.pq-grid .pq-align-center{
    text-align:center;
}
.pq-grid .pq-align-center *{
    text-align:center;
}
.pq-grid-cell.pq-group-title-cell *{
    text-align: left;
}
div.pq-grid-cont-outer{
    position:relative;
}
div.pq-grid-cont{	
    overflow:hidden;
    border-top:0;
    width:100%;	
    position:relative;
}
.pq-grid .pq-grid-cont .ui-state-hover{
    font-weight:normal;
}
table.pq-grid-table{
    border-collapse: separate;
    border-spacing:0;
    table-layout:fixed;
    width:0; 
    position:relative;
    top:0;
    left:0;
    margin-top:-1px;
}
table.pq-grid-header-table{
    table-layout:fixed;    
    width:0;
    border-spacing: 0;
    border-collapse: separate;
    margin-bottom: -1px;
}
.pq-grid-header-table input,.pq-grid-header-table select, .pq-grid-header-table textarea{
    color: initial;
}
table.pq-grid-header-table div.pq-td-div{
    position:relative;
    display: inline;
}
.pq-grid-title-row .pq-td-div:hover{
    text-decoration: underline;
    cursor: pointer;
}
.pq-grid-header-search-row > .pq-grid-col > .pq-td-div{
    display:block;
}
.pq-grid-col{    
    overflow: hidden;
    font-weight:normal;
}
.pq-grid-header-table > tbody > tr > .pq-grid-col{
    border-width: 0 1px 1px 0;
    border-style: solid;
}
.pq-grid-number-col{	
    border-right:1px solid #cfcfcf;
    padding: 4px 5px;
    text-align: right;
}
.pq-grid .pq-col-drag-helper{
    padding:1px 5px 4px 3px;
    -moz-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
.pq-grid .pq-col-drag-helper .pq-drag-icon{
    height:16px;
    width:16px;
    margin-right:5px;	
    margin-top: 1px;
    float: left;
}
.pq-grid td.pq-drop-hover, .pq-grid .pq-drop-hover{
    background-image:url("");
}
tr.pq-row-hidden{
    visibility:hidden;
    height:1px;
}
.pq-row-hidden>td{
    padding:0 !important; 
    border:0 !important;
}
div.pq-grid tr{
}			
.pq-grid-cell, pq-grid-number-cell{
    overflow: hidden;
    vertical-align: middle;
}
.pq-grid-table > tbody > .pq-grid-row{
    border-width:0;
}
.pq-grid-table > tbody > tr > .pq-grid-cell{
    border-width:0;
}
.pq-td-border-right > tbody > tr > .pq-grid-cell{
    border-right: 1px solid #d0d0d0;
}
.pq-td-border-top > tbody > tr > .pq-grid-cell{
    border-bottom: 1px solid #d0d0d0;
}
.pq-td-border-top > tbody > tr:first-child + tr > .pq-grid-cell{
    border-top-width: 0;
}
.pq-grid-row > .pq-grid-cell:first-child{
    border-left-width: 0; 
}
div.pq-grid td.pq-cell-dirty
{    
    background-image:url("images/square_dirty.gif") !important;
    background-repeat:no-repeat !important;
    background-position: left top !important;
}
div.pq-grid td.pq-cell-red-tr
{    
    background-image:url("images/square-red-tr.gif") !important;
    background-repeat:no-repeat !important;
    background-position: right top !important;
}
div.pq-grid td.pq-cell-blue-tr
{    
    background-image:url("images/square-blue-tr.gif") !important;
    background-repeat:no-repeat !important;
    background-position: right top !important;
}
table.pq-wrap > tbody > tr > .pq-grid-cell,
table.pq-wrap > tbody > tr > .pq-grid-col
{
    word-wrap:break-word;
    white-space: normal;
}
table.pq-no-wrap > tbody > tr > .pq-grid-cell,
table.pq-no-wrap > tbody > tr > .pq-grid-col > .pq-td-div
{
    word-wrap:normal;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.pq-grid-cell.pq-merge-cell{    
}
.pq-merge-cell-div{
    width:1px;
    height:1px;
    padding:0;
}
.pq-merge-cell-div > div{
    display: table;
    table-layout: fixed;
    width:100%;
    height: 100%;
}
.pq-merge-cell-div > div > div{
    display: table-cell;
    vertical-align: middle;
}
.pq-grid-header-search-row .pq-grid-hd-search-field {    
    width: 100%;
    box-sizing: border-box;
}
.pq-grid-header-search-row .pq-from-div{
    float:left;
    padding-right:3px;
    width:50%;    
    box-sizing: border-box;
}
.pq-grid-header-search-row .pq-to-div{
    float:right;
    padding-left:3px;
    width:50%;    
    box-sizing: border-box;
}
span.pq-from-to-center{
    width: 6px;
    position:absolute;
    left: 50%;
    line-height: 20px;
    margin-left:-3px;
    text-align: center;
}
div.pq-editor-outer {
    border:2px solid #666;
    position:absolute;
    left:0;top:0;
    padding:0;
    z-index:5;
    display:table;
    color:#333;                
}
div.pq-editor-inner{    
    display: table-cell;
    vertical-align: middle;
    width:100%;
    height:100%;
}
div.pq-editor-inner > div[contenteditable='true']{
    overflow: auto;
}
.pq-grid textarea{
    overflow: auto;
}
div.pq-editor-inner > .pq-cell-editor{
    padding:2px 3px;
    width: 100%;
}
div.pq-tooltip{
    padding:3px 10px;
}
span.pq-tooltip-icon{
    display:inline-block;
    position:relative;
    top:3px;
    margin-right:4px;
}
.pq-grid-row > .pq-grid-number-cell{
    border-top-width:0;
}
.pq-grid-number-cell{
    overflow:hidden;
    border-right:1px solid #d0d0d0;
    border-bottom:1px solid #d0d0d0;
    text-align: right;
}
.pqg-vert-frozen-line{
    position:absolute;
    width:0;
    border-left:1px solid #999;
    top:0;
    height:100%;
}
.pqg-horiz-frozen-line{
    position:absolute;
    height:0;
    border-top:1px solid #999;
    left:0;
    width:100%;
}
.pq-grid tr.pq-detail-master > td{
    border-bottom-width:0;
}
.pq-grid td.pq-detail-child{
    padding:3px 30px;
}
div.pq-grid-disable{
    height:100%;width:100%;position:absolute;left:0;top:0;background:#ccc;
    z-index:3;
}
.pq-loading{
    height:100%;width:100%;position:absolute;left:0;top:0;
    display:none;
}
.pq-loading-bg{
    height:100%;width:100%;position:absolute;left:0;top:0;
    z-index:10;
}
div.pq-loading-mask{
    width:100px;height:25px;
    z-index:6;
    padding:5px;	
    position:absolute;left:50%;top:50%;				
    margin-left:-50px;
    margin-top:-13px;
    box-sizing: content-box;
}
 div.pq-loading-mask > div{
    border:1px solid transparent;
    padding-top:0;
    padding-right:6px;
    padding-left:29px;
    line-height:23px;
    background-image:url("images/loading.gif");
    background-position:6px center;
    background-repeat:no-repeat;
    white-space: nowrap;
    word-wrap: normal;
}
div.pq-vscroll{
    height:150px;
    position:absolute;
    right:0;
    bottom:17px;
}			
div.pq-hscroll{
    height:17px;
    border:0 solid blue;
    position:absolute;
    right:17px;
    bottom:0;
}
div.pq-hvscroll-square{
    height:17px;
    width:17px;
    border:0 solid blue;
    position:absolute;
    right:0;    
    bottom:0;
    z-index:1;
}			
.pq-pager{
    padding:4px 5px; 
    overflow:hidden;
}
.pq-pager, .pq-grid-summary{     
    position: relative;    
    overflow: hidden;
    border-top: 1px solid transparent;
    margin-top: -1px;
}
.pq-grid span.pq-separator{
    height:18px;
    border-left:1px solid #ccc;
    display:inline-block;
    position: relative;
    margin:0 6px;
}
.pq-pager-input{
    height: 20px;
    width:35px;
}
.pq-grid button.ui-button-icon-only{
    width:22px;
    margin-right:5px;
    padding:0.4em 0em;	
}
.pq-sb-vert-wt{
    display:block;
    width:17px;
    background:#efefef url(images/vert-bg.png);
}
.pq-sb-horiz-wt{
    display:block;
    height:17px;
    background:#efefef url(images/horiz-bg.png);
}
.pq-sb-btn{
    width:17px;
    height:17px;
    position:absolute;
}
.pq-sb-vert-wt > .top-btn{
    left:0;
    top:0;        
    background:url(images/sprite.png);
}
.pq-sb-horiz-wt > .left-btn{
    left:0;
    top:0;    
    background:url(images/sprite.png) -34px;		
}
.pq-sb-vert-wt > .bottom-btn{
    left:0;
    bottom:0;    
    background:url(images/sprite.png) -17px;
}
.pq-sb-horiz-wt > .right-btn{
    top:0;
    right:0;    
    background:url(images/sprite.png) -51px;	
}
.pq-sb-slider{
    position:absolute;
}
.pq-sb-vert-wt > .pq-sb-slider > div{
    background:url(images/sprite.png);
}
.pq-sb-slider-h{
    position:absolute;
}
.pq-sb-horiz-wt > .pq-sb-slider-h > span{
    display:inline-block;
    background:url(images/sprite.png);
}
.pq-sb-slider > .vert-slider-top{
    width:17px;
    height:3px;	
    overflow:hidden;
    background-position: 17px -8px;	
}
.pq-sb-horiz-wt > .pq-sb-slider-h > .horiz-slider-left{
    height:17px;
    width:3px;	
    overflow:hidden;    
    background-position: -68px 0;		
}
.pq-sb-vert-wt > .pq-sb-slider > .vert-slider-bg{
    width:17px;    
    overflow:hidden;
    background:#B6CEFB url(images/vert-slider-bg.png);
}
.pq-sb-horiz-wt > .pq-sb-slider-h .horiz-slider-bg{
    height:17px;    
    overflow:hidden;
    background:#B6CEFB url(images/horiz-slider-bg.png);	
}
.pq-sb-vert-wt > .pq-sb-slider > .vert-slider-center{
    width:17px;
    height:8px;
    overflow:hidden;    
    background-position: 17px 0;	
}
.pq-sb-horiz-wt > .pq-sb-slider-h > .horiz-slider-center{
    height:17px;
    width:8px;
    overflow:hidden;    
    background-position: -74px 0;
}
.pq-sb-vert-wt > .pq-sb-slider > .vert-slider-bottom{
    width:17px;
    height:3px;
    overflow:hidden;    
    background-position: 17px -11px;
}
.pq-sb-horiz-wt > .pq-sb-slider-h > .horiz-slider-right{
    height:17px;
    width:3px;
    overflow:hidden;    
    background-position: -71px 0;
}
.pq-sb-vert-t{
    display:block;
    width:17px;
    background:#efefef url(images/vert-bg.png);
}
.pq-sb-horiz-t{
    display:block;
    height:17px;
    background:#efefef url(images/horiz-bg.png);
}
.pq-sb-vert-t > .pq-sb-btn{
    width:17px; 
    height:17px;
    position:absolute;    
}
.pq-sb-horiz-t > .pq-sb-btn{
    width:17px;
    height:17px;
}
.pq-sb-vert-t > .top-btn{
    left:0;
    top:0;             
}
.pq-sb-horiz-t > .left-btn{
    left:0;
    top:0;        
}
.pq-sb-horiz-t > .left-btn > .ui-icon{
    margin-top:-1px;        
}
.pq-sb-vert-t > .bottom-btn{
    left:0;
    bottom:0;        
}
.pq-sb-vert-t > .bottom-btn > .ui-icon{
    margin-left:-1px;
}
.pq-sb-horiz-t > .right-btn{
    top:0;
    right:0;        
}
.pq-sb-horiz-t > .right-btn > .ui-icon{
    margin-top:-1px;
    margin-left:-1px;        
}
.pq-sb-vert-t > .pq-sb-slider{
    position:absolute;
    width:15px;
    left:1px;
}
.pq-sb-horiz-t > .pq-sb-slider-h{
    position:absolute;
    top:1px;
    height:15px;
}
.pq-arrow-up,.pq-arrow-down{
    position:absolute !important;
    z-index:200;    
}
.pq-grid label {
    display: inline-block;
}
.pq-grid input[type='checkbox'] {
    width: 14px;
    height: 14px;
    padding: 0;
    margin-top:0;
    margin-bottom:0;
    vertical-align: middle;
    position: relative;
    top: -1px;
}
.pq-grid label input[type='checkbox'] {
    margin-right:5px;
}
.ui-menu .pq-menu-item.ui-menu-item{
    padding:0;
}
.ui-state-active.ui-menu-item, .ui-state-focus.ui-menu-item{
    border:1px solid transparent;
}
.pq-menu-item > label{
    padding:3px 5px;
    text-indent: 0;
    width:100%;
}
