/**
 * ParamQuery Pro v3.3.0
 * 
 * Copyright (c) 2012-2016 Paramvir Dhindsa (http://paramquery.com)
 * Released under Commercial license
 * http://paramquery.com/pro/license
 * 
 */
.pq-grid .panel{    margin-bottom: 0;}.pq-grid > .pq-grid-top, .pq-grid-top > .pq-grid-title, .pq-grid-top > .pq-toolbar, .pq-group-header{    border-color:#ddd;}.pq-col-sort-icon{    margin-right: 0;}div.pq-grid .table{    margin-bottom: 0;}.pq-grid-table.table{    border-left:0;    border-top:0;    }.pq-grid-header-table.table{    border-left:0;    border-top:0;}.pq-grid-header-table.table-bordered > tbody > tr> th:first-child,.pq-grid-header-table.table-bordered > tbody > tr> td:first-child,.pq-grid-table.table-bordered > tbody > tr> td:first-child{        border-left:0;    }.pq-grid-header-table.pq-no-right-border > tbody > tr> td:last-child,.pq-grid-table.pq-no-right-border > tbody > tr> td:last-child{        border-right:0; }.pq-col-sort-icon{    font-size: 10px;    margin-left: 4px;}.pq-grid-cell.pq-state-select,.pq-grid-row.pq-state-select{    background:#deeefa;}tr.pq-grid-oddRow {    background:#fafafa;}.pq-grid-cell-hover.ui-state-hover,.pq-grid-row-hover.ui-state-hover{    background:#deeefa;}tr.pq-grid-oddRow > td.pq-state-select,tr.pq-grid-oddRow.pq-state-select,tr.pq-grid-oddRow > .pq-grid-cell-hover,tr.pq-grid-oddRow.pq-grid-row-hover{    background:#d8e8fa;}.pq-sb-slider.btn{    padding: 0;}.pq-sb .glyphicon{    cursor:pointer;        }.pq-sb-vert .glyphicon{    padding: 1px;    padding-left:2px;}.pq-sb .glyphicon:hover{    background:#ccc;}.pq-group-remove{    text-align:right;    }.pq-group-header .glyphicon{    font-size:10px;}.pq-pager .glyphicon.btn,.pq-grid-top .glyphicon.btn{    padding:1px 4px;    cursor: pointer;    border:1px solid transparent;    border-radius: 4px;}.pq-pager .glyphicon.btn,.pq-grid-top .glyphicon.btn{    margin:1px 2px 2px;}.pq-pager .glyphicon.btn:hover,.pq-grid-top .glyphicon.btn:hover{    border-color:#ccc;}.pq-grid-top .glyphicon.btn{    margin: 1px;}.pq-pager .glyphicon.disabled{    opacity: 0.3;}.pq-grid > .pq-grid-bottom{    border-color: rgb(221, 221, 221);}div.pq-pager, div.pq-grid-summary {    border-top-color: #cfcfff;}.pq-grid .ui-menu label{    margin:0;}.pq-grid .ui-menu-item:not(.pq-menu-item){    padding: 2px 4px;}