.pq-grid .ui-button .ui-button-text {
  padding-top: 4px;
  padding-bottom: 4px;
}
.pq-grid .ui-widget-header {
  background: #212121;
  border-color: #212121;
}
.pq-grid .ui-state-default {
  background-color: #fefefe;
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#212121));
  background: -webkit-linear-gradient(top, #fefefe, #212121);
  background: -moz-linear-gradient(top, #fefefe, #212121);
  background: -ms-linear-gradient(top, #fefefe, #212121);
  background: -o-linear-gradient(top, #fefefe, #212121);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fefefe, endColorstr=#212121);
}
.pq-grid .ui-state-focus {
  background: #212121;
  border-color: #FFCC66;
}
.pq-grid .ui-state-hover {
  background: #212121;
  border-color: #FFCC66;
}
.pq-grid .ui-widget-header .ui-state-default:not(.ui-state-hover) {
  border-color: #FFCC66;
}
.pq-grid .ui-state-active {
  background: #fff;
  border-color: #FFCC66;
}
.pq-grid .ui-widget-content {
  border-color: #212121;
}
div.pq-grid {
  color: #333;
  border-color: #212121;
  background: #212121;
}
.pq-grid *:focus {
  outline: 1px dotted #212121;
}
.pq-grid select,
.pq-grid input[type="text"],
.pq-grid input,
.pq-grid textarea,
.pq-grid button.ui-state-default:not(.ui-state-hover) {
  border-color: #212121;
}
.pq-group-item {
  border-color: #212121;
}
.pq-group-item:hover {
  border-color: #FFCC66;
}
.pq-group-remove:hover,
.pq-group-icon:hover {
  border-color: #FFCC66;
}
.pq-grid > .pq-grid-top {
  background: #212121;
  color: #333;
  border-color: #212121;
}
.pq-grid-title,
.pq-group-header {
  background: #212121;
  border-color: #FFCC66;
}
div.pq-toolbar {
  border-color: #FFCC66;
}
.pq-grid span.pq-separator {
  border-right-color: #fff;
  border-left-color: #212121;
}
div.pq-pager,
div.pq-grid-summary {
  border-top-color: #FFCC66;
}
.pq-grid-bottom {
  background: #212121;
  color: #333;
}
.pq-header-outer {
  background: #212121;
  border-bottom-color: #212121;
  border-width: 0px!important;
}
.pq-header-outer > .pq-grid-header {
  background: #212121;
  background-color: #fefefe;
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#212121));
  background: -webkit-linear-gradient(top, #fefefe, #212121);
  background: -moz-linear-gradient(top, #fefefe, #212121);
  background: -ms-linear-gradient(top, #fefefe, #212121);
  background: -o-linear-gradient(top, #fefefe, #212121);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fefefe, endColorstr=#212121);
}
.pq-grid-table > tbody > tr > .pq-grid-cell {
  border-color: #FFCC66;
}
.pq-grid-row > td.pq-grid-number-cell,
.pq-grid-number-col {
  border-color: #FFCC66;
}
.pq-grid-row > .pq-grid-number-cell {
  background: #212121;
}
.pq-grid-col {
  border-width: 0px!important;
}
.pq-col-sort-asc,
.pq-col-sort-desc {
  background: #313131;
  border-color: #FFCC66;
}
.pq-grid-col,
.pq-grid-number-col {
  color: #C2C4C5;
  background: #b3dced; /* Old browsers */
	background: -moz-linear-gradient(top, #313131 0%, #000000 50%, #313131 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #313131 0%,#000000 50%,#313131 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #313131 0%,#000000 50%,#313131 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313131', endColorstr='#313131',GradientType=0 );
	font-weight: bold;
	text-align:center;
}

.pq-grid-row {
  background: #1A1A1A;
  color: #ffffff;
}
.pq-hvscroll-square {
  background: #212121;
}

tr.pq-grid-oddRow {
  background: #000000;
  color: #ffffff;
}
.pq-grid-cell-hover.ui-state-hover,
.pq-grid-row-hover.ui-state-hover {
  background: #e4f2ff;
}
tr.pq-grid-oddRow > td.pq-state-select,
tr.pq-grid-oddRow.pq-state-select,
tr.pq-grid-oddRow > .pq-grid-cell-hover,
tr.pq-grid-oddRow.pq-grid-row-hover {
  background: #e4e1dc;
}
.pq-grid-cell:focus {
  outline: 2px solid #777;
}
.pq-loading-bg {
  background: #212121;
}
.pq-loading > .pq-loading-mask {
  background: #212121;
  border-color: #FFCC66;
  color: #333;
}
div.pq-loading-mask > div {
  border-color: #212121;
  background-color: #fff;
}
.pqg-vert-frozen-line,
.pqg-horiz-frozen-line {
  border-color: #FFCC66;
}
.pq-sb-horiz-t .pq-sb-slider,
.pq-sb-vert-t .pq-sb-slider,
.pq-sb-horiz-t .pq-sb-btn,
.pq-sb-vert-t .pq-sb-btn {
  border-color: #212121;
  background: #212121;
}
.pq-sb-horiz-t > .pq-sb-slider:hover,
.pq-sb-vert-t > .pq-sb-slider:hover,
.pq-sb-horiz-t > .pq-sb-btn:hover,
.pq-sb-vert-t > .pq-sb-btn:hover {
  border-color: #FFCC66;
  background: #313131;
}

body {
	background: #000000;
}
.pq-grid td:nth-child(1) {text-align:center;background-color:#313131;}
.pq-grid td:nth-child(2) {text-align:center;background-color:#313131;}

 
.pq-state-select.ui-state-highlight > td:not(.redFont):not(.greenFont):not(.redBg):not(.greenBg){
 /*background: #660099;color: #ffffff;*/
 background: #1A1A1A;
 color: #ffffff;
 border-top-width: 2px!important;
 border-bottom-width: 2px!important;
}

.pq-state-select.ui-state-highlight > td.redFont, .pq-state-select.ui-state-highlight > td.greenFont{
 border-top-width: 2px!important;
 border-bottom-width: 2px!important;
 background: #1A1A1A;
}

.pq-grid-oddRow.pq-state-select.ui-state-highlight > td:not(.redFont):not(.greenFont):not(.redBg):not(.greenBg){
 /*background: #660099;color: #ffffff;*/
 background: #000000;
 color: #ffffff;
 border-top-width: 2px!important;
 border-bottom-width: 2px!important;
}

.pq-grid-oddRow.pq-state-select.ui-state-highlight > td.redFont, .pq-grid-oddRow.pq-state-select.ui-state-highlight > td.greenFont{
 border-top-width: 2px!important;
 border-bottom-width: 2px!important;
 background: #000000;
}


.pq-toolbar > a {
	float: right;
}

.pq-grid-cont-inner.pq-grid-norows{
	color: #ffffff;
	
}
 
#grid_json {　
	overflow-y: hidden;
	overflow-x: hidden;
	background:#000000;
	font-family: '微軟正黑體';	
}

.dialogTable tr:nth-of-type(odd) { 
	background: #000000; 
}
.dialogTable tr { 
	background: #1A1A1A; 
}
.dialogTable td, .dialogTable th { 
	padding: 6px; 
	border: 1px solid #ccc;  
	color: #ffffff; 
}
.ui-dialog{
	background: #000000; 
}



















