.pq-grid .ui-button .ui-button-text {
  padding-top: 4px;
  padding-bottom: 4px;
}
.pq-grid .ui-widget-header {
  background: #d2e3f1;
  border-color: #14559C;
}
.pq-grid .ui-state-default {
  background-color: #fefefe;
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#d2e3f1));
  background: -webkit-linear-gradient(top, #fefefe, #d2e3f1);
  background: -moz-linear-gradient(top, #fefefe, #d2e3f1);
  background: -ms-linear-gradient(top, #fefefe, #d2e3f1);
  background: -o-linear-gradient(top, #fefefe, #d2e3f1);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fefefe, endColorstr=#d2e3f1);
}
.pq-grid .ui-state-focus {
  background: #d2e3f1;
  border-color: #964B00;
}
.pq-grid .ui-state-hover {
  background: #d2e3f1;
  border-color: #964B00;
}
.pq-grid .ui-widget-header .ui-state-default:not(.ui-state-hover) {
  border-color: #14559C;
}
.pq-grid .ui-state-active {
  background: #fff;
  border-color: #964B00;
}
.pq-grid .ui-widget-content {
  border-color: #14559C;
}
div.pq-grid {
  color: #333;
  border-color: #14559C;
  background: #d2e3f1;
}
.pq-grid *:focus {
  outline: 1px dotted #d2e3f1;
}
.pq-grid select,
.pq-grid input[type="text"],
.pq-grid input,
.pq-grid textarea,
.pq-grid button.ui-state-default:not(.ui-state-hover) {
  border-color: #14559C;
}
.pq-group-item {
  border-color: #14559C;
}
.pq-group-item:hover {
  border-color: #964B00;
}
.pq-group-remove:hover,
.pq-group-icon:hover {
  border-color: #964B00;
}
.pq-grid > .pq-grid-top {
  background: #d2e3f1;
  color: #333;
  border-color: #14559C;
}
.pq-grid-title,
.pq-group-header {
  background: #d2e3f1;
  border-color: #14559C;
}
div.pq-toolbar {
  border-color: #14559C;
}
.pq-grid span.pq-separator {
  border-right-color: #fff;
  border-left-color: #14559C;
}
div.pq-pager,
div.pq-grid-summary {
  border-top-color: #14559C;
}
.pq-grid-bottom {
  background: #d2e3f1;
  color: #333;
}
.pq-header-outer {
  background: #d2e3f1;
  border-bottom-color: #14559C;
}
.pq-header-outer > .pq-grid-header {
  background: #d2e3f1;
  background-color: #fefefe;
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#d2e3f1));
  background: -webkit-linear-gradient(top, #fefefe, #d2e3f1);
  background: -moz-linear-gradient(top, #fefefe, #d2e3f1);
  background: -ms-linear-gradient(top, #fefefe, #d2e3f1);
  background: -o-linear-gradient(top, #fefefe, #d2e3f1);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fefefe, endColorstr=#d2e3f1);
}
.pq-grid-table > tbody > tr > .pq-grid-cell {
  border-color: #14559C;
}
.pq-grid-row > td.pq-grid-number-cell,
.pq-grid-number-col {
  border-color: #14559C;
}
.pq-grid-row > .pq-grid-number-cell {
  background: #d2e3f1;
}
.pq-grid-col {
  border-color: #14559C !important;
}
.pq-col-sort-asc,
.pq-col-sort-desc {
  background: #14559C;
  border-color: #964B00;
}
.pq-grid-col,
.pq-grid-number-col {
  color: #14559C;
  background: #b3dced; /* Old browsers */
	background: -moz-linear-gradient(top, #d2e3f1 0%, #E5EFF7 50%, #d2e3f1 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #d2e3f1 0%,#E5EFF7 50%,#d2e3f1 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #d2e3f1 0%,#E5EFF7 50%,#d2e3f1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2e3f1', endColorstr='#d2e3f1',GradientType=0 );
	font-weight: bold;
	text-align:center;
}

.pq-grid-row {
  background: #F4F4F4;
  color: #36404C;
}
.pq-hvscroll-square {
  background: #d2e3f1;
}

tr.pq-grid-oddRow {
  background: #E5EFF7;
  color: #36404C;
}
.pq-grid-cell-hover.ui-state-hover,
.pq-grid-row-hover.ui-state-hover {
  background: #e4f2ff;
}
tr.pq-grid-oddRow > td.pq-state-select,
tr.pq-grid-oddRow.pq-state-select,
tr.pq-grid-oddRow > .pq-grid-cell-hover,
tr.pq-grid-oddRow.pq-grid-row-hover {
  background: #e4e1dc;
}
.pq-grid-cell:focus {
  outline: 2px solid #777;
}
.pq-loading-bg {
  background: #d2e3f1;
}
.pq-loading > .pq-loading-mask {
  background: #d2e3f1;
  border-color: #964B00;
  color: #333;
}
div.pq-loading-mask > div {
  border-color: #14559C;
  background-color: #fff;
}
.pqg-vert-frozen-line,
.pqg-horiz-frozen-line {
  border-color: #964B00;
}
.pq-sb-horiz-t .pq-sb-slider,
.pq-sb-vert-t .pq-sb-slider,
.pq-sb-horiz-t .pq-sb-btn,
.pq-sb-vert-t .pq-sb-btn {
  border-color: #14559C;
  background: #d2e3f1;
}
.pq-sb-horiz-t > .pq-sb-slider:hover,
.pq-sb-vert-t > .pq-sb-slider:hover,
.pq-sb-horiz-t > .pq-sb-btn:hover,
.pq-sb-vert-t > .pq-sb-btn:hover {
  border-color: #964B00;
  background: #14559C;
}

body {
	background: #E5EFF7;
}
.pq-grid td:nth-child(1) {text-align:center;background-color:#d2e3f1;}
.pq-grid td:nth-child(2) {text-align:center;background-color:#d2e3f1;}

 
.pq-state-select.ui-state-highlight > td:not(.redFont):not(.greenFont):not(.redBg):not(.greenBg){
	background: #FFCC66;color: #36404C;
}
.pq-grid-oddRow.pq-state-select.ui-state-highlight > td:not(.redFont):not(.greenFont):not(.redBg):not(.greenBg){
	background: #FFCC66;color: #36404C;
}

.pq-toolbar > a {
	float: right;
}

.pq-grid-cont-inner.pq-grid-norows{
	color: #36404C;
	
}
 
#grid_json {　
	overflow-y: hidden;
	overflow-x: hidden;
	background:#E5EFF7;
	font-family: '微軟正黑體';	
}





















